@model GameMap
@{
    ViewData["Title"] = Model.EnglishTitle + " - " +  Model.Game!.EnglishTitle;
}

<h1 class="h3 text-center">
    @Model.EnglishTitle
</h1>

<p>This map is not yet available, come back in few hours.</p>
