.leaflet-container .leaflet-grid-mouseposition {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    padding: 5px;
    margin: 20px;
    color: #000;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 80px;
    text-align: center;
}

.map-utils-tools-protractor-drag {
    cursor: move !important;
    border-radius: 50%;
}

.map-utils-tools-coordinatescale-drag {
    cursor: move !important;
    border-radius: 4%;
}

.map-utils-tools-ruler-drag {
    cursor: move !important;
}

.map-utils-tools-protractor-rotate {
    cursor: ew-resize !important;
    border-radius: 50%;
}

.map-utils-tools-ruler-rotate {
    cursor: ns-resize !important;
    border-radius: 50%;
}
