[Unit]
Description=GameMapStorage

[Service]
WorkingDirectory=/opt/GameMapStorage
ExecStart=/opt/GameMapStorage/GameMapStorageWebSite --urls http://localhost:5090/
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=GameMap
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target